.search-box{
    display: block;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.vid-preview{
    width: 261.328px;
    display: inline-block;
    vertical-align: top;
    padding: 4px;
}
.thumbnail{
    width: 253.328px;
}
.vid-title{

}
.vid-author{

}
.vid-stats{

}