
.header{
    height: 57px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
}

.header-left{
    display: flex;
    align-items: center;
}
.menu-icon{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.logo-icon{
    height: 20px;
}

.header-middle{
    flex: 1;
    max-width: 732px;
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
}
.search-box{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
    flex: 1;
    height: 38px;
    padding: 1px 2px 1px 14px;
    font-size: 16px;
    width: 0;
    }
.search-box::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button{
    border: 1px solid #cccccc;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 42px;
    width: 66px;
    background-color: rgb(248, 248, 248);
    margin-left: -3px;
    margin-right: 15px;
}
.search-icon{
    height: 25px;
    margin-top: 4px;
}
.microphone-button{
    border: none;
    border-radius: 21.5px;
    height: 43px;
    width: 43px;
    background-color: rgba(0, 0, 0, 0.05);
}
.microphone-button:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
.microphone-button:active{
    background-color: rgba(0, 0, 0, 0.25);
}
.microphone-icon{
    height: 24px;
    margin-top: 4px;
}

.header-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 200px;
    flex-shrink: 0;
}
.right-side-icons{
    height: 24px;
}
.myPic{
    height: 30px;
    border-radius: 15px;
}