@media (max-width: 1580px){
    .videos-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1220px){
    .videos-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 884px){
    .sidebar{
        display: none;
    }
}
@media (max-width: 780px){
    .videos-grid{
        grid-template-columns: 1fr;
    }
}
